
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#93E1C5;
}
.container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto ;
    gap:20px;
}

.na{
    width:90%;
    height:50px;
    margin-left:5%;
    background-color:#fff;
    margin-bottom:30px;
    text-align: center;
    color:#0D9D97;
    border-radius:12px;
}


.player-card {
    display: flex;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius:12px;
    font-size: smaller;

}

.player-image {
    flex: 0 0 150px;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}

.player-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player-info {
    flex: 1;
    padding: 10px;
}

.player-info h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.player-info p {
    margin: 0;
    margin-bottom: 5px;
}

.player-info .attribute {
    font-weight: bold;
}


@media (max-width: 576px) 
{

    .container {
        width: 90%;
        margin: 10px auto;
        padding: 10px;
        display:block;
        gap:8px;
    }
 .na{
    width:90%;
        height:35px;
        margin-left:5%;
        margin-bottom:15px;
        border-radius:6px;
        font-size:12px;
    }
    .player-card {
        margin-bottom:10px;
        font-size:13px;

    
    }
    .player-image {
    flex: 0 0 120px;
    border-radius: 5px 0 0 5px;
}

.player-info h3 {
    margin-bottom: 7px;
    font-size: 15px;
}
 
 } 

 @media ((min-width:577px) and (max-width:622px) ) 
 { 
    .container {
        width: 90%;
        margin: 10px auto;
        padding: 10px;
        display:grid;
        grid-template-columns:50% 50%;
        gap:8px;
    }

    .player-card {
        margin-bottom:10px;
        font-size:13px;

    
    }
    .player-image {
    flex: 0 0 120px;
    border-radius: 5px 0 0 5px;
}

.player-info h3 {
    margin-bottom: 7px;
    font-size: 12px;
}

.player-info p {
    font-size:8px;
}
  } 

 @media ((min-width:623px) and (max-width:982px) ) 
{ 
    .container {
        width: 90%;
        margin: 10px auto;
        padding: 10px;
        display:grid;
        grid-template-columns:50% 50%;
        gap:8px;
    }
 .na{
    width:90%;
        height:35px;
        margin-left:5%;
        margin-bottom:15px;
        border-radius:6px;
        font-size:12px;
    }
    .player-card {
        margin-bottom:10px;
        font-size:13px;

    
    }
    .player-image {
    flex: 0 0 120px;
    border-radius: 5px 0 0 5px;
}

.player-info h3 {
    margin-bottom: 7px;
    font-size: 15px;
}

 }
    

